@model Tuple<User, User>
<form method="post" action="/Rent/Logout">
    <button type="submit">Wyloguj</button>
</form>

<h2>Dodaj nowy samochód</h2>
<form method="post" action="/Rent/AddCar">
    <div class="form-group">
        <label for="brand">Marka:</label>
        <input type="text" id="brand" name="brand" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="productionDate">Rok Produkcji:</label>
        <input type="number" id="productionDate" name="productionDate" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="dailyFee">Cena dzienna:</label>
        <input type="number" id="dailyFee" name="dailyFee" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="available">Dostępność:</label>
        <select id="available" name="available" class="form-control" required>
            <option value="true">Dostępny</option>
            <option value="false">Niedostępny</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj samochód</button>
</form>

<div class="text-center">
    <h1 class="display-4">Wypożyczanie Samochodów</h1>
   

    <h2>Dostępne Samochody</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Marka</th>
                <th>Model</th>
                <th>Rok Produkcji</th>
                <th>Cena dzienna</th>
                <th>Dostępność</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Cars != null)
            {
                @foreach (var car in ViewBag.Cars)
                {
                    <tr>
                        <td>@car.brand</td>
                        <td>@car.model</td>
                        <td>@car.production_date</td>
                        <td>@car.daily_fee</td>
                        <td>@(car.avaliable ? "Dostępny" : "Niedostępny")</td>
                        <td>
                            @if (car.avaliable)
                            {
                                <form method="post" action="/Rent/RentCar">
                                    <input type="hidden" name="carId" value="@car.car_id" />
                                    <label for="startDate">Data Rozpoczęcia:</label>
                                    <input type="date" id="startDate" name="startDate" required />
                                    <label for="endDate">Data Zakończenia:</label>
                                    <input type="date" id="endDate" name="endDate" required />
                                    <button type="submit">Wynajmij</button>
                                </form>
                            }
                            else
                            {
                                <button disabled>Niedostępne</button>
                            }
                        </td>
                        <td>
                            <strong>Zajęte Terminy:</strong>
                            <form method="get" action="/Rent/GetOccupiedDates">
                                <input type="hidden" name="carId" value="@car.car_id" />
                                <button type="submit">Zajęte Terminy</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="/Rent/DeleteCar">
                                <input type="hidden" name="carId" value="@car.car_id" />
                                <button type="submit">Usuń</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="/Rent/ToggleAvailability">
                                <input type="hidden" name="carId" value="@car.car_id" />
                                <button type="submit">Zmień dostępność</button>
                            </form>
                        </td>

                    </tr>
                }
            }

        </tbody>
    </table>
    @if (ViewBag.ErrorMessage != null)
    {
        <p class="text-danger">@ViewBag.ErrorMessage</p>
    }
    @if (ViewBag.RentedMessage != null)
    {
        <div class="alert alert-success">
            <p>@ViewBag.RentedMessage</p>
        </div>
    }
    <form method="post" action="/MyRentals/MyRentals">
        <button type="submit">Moje wynajmy</button>
    </form>


</div>
